@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@400;700&family=Orbitron:wght@400;700&display=swap');

body {
    background-color: grey;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2vw;
    text-align: center;
    border-bottom: 5px solid #ccc;
    padding-bottom: 10px;
    color: white;
    width: 47.5%;
    margin: auto;
}

img {
    width: 22.5%;
    margin: 1.25%;
    float: left;
}